@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #f5f5ee;
  scroll-behavior: smooth;
  /* font-family: 'Nunito', sans-serif; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Quincy', serif;
}

@font-face {
  font-family: 'Quincy';
  src: url('/fonts/QuincyCF-Regular.woff');
  font-style: normal;
  font-weight: regular;
  font-display: swap;
}

@font-face {
  font-family: 'Quincy';
  src: url('/fonts/QuincyCF-Bold.woff');
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-Regular.ttf');
  font-style: normal;
  font-weight: regular;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-Bold.ttf');
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

/* Text Underline */
@layer components {
  .pass {
    position: relative;
    transition: width 0.6s;
  }
  .pass::before {
    content: '';
    width: 0;
    height: 0.1em;
    position: absolute;
    bottom: 0;
    right: 0;
    @apply bg-green-800;
    transition: all 0.3s;
  }
  .pass:hover::before {
    width: 100%;
    left: 0;
    /* @apply bg-green-500; */
  }
}
.mapboxgl-popup-close-button {
  padding: 0 10px;
  font-size: 20px;
}

select {
  /* A reset of styles, including removing the default dropdown arrow */
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  /* width: 100%; */
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;

  /* Style select arrow */
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  cursor: pointer;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

/* Infinite Scroll Marquee */
.infinite-slider {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.infinite-scroller {
  /* animation: marquee 60s linear infinite; */
}

.infinite-slider:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(
    to right,
    white,
    rgba(255, 255, 255, 0) 80px,
    rgba(255, 255, 255, 0) calc(100% - 80px),
    white
  );
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
