@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(245, 245, 238);
  /* font-family: 'Nunito', sans-serif; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Quincy', serif;
}

@font-face {
  font-family: 'Quincy';
  src: url('/fonts/QuincyCF-Regular.woff');
  font-style: normal;
  font-weight: regular;
  font-display: swap;
}

@font-face {
  font-family: 'Quincy';
  src: url('/fonts/QuincyCF-Bold.woff');
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-Regular.ttf');
  font-style: normal;
  font-weight: regular;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-Bold.ttf');
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

// Text Underline
@layer components {
  .pass {
    position: relative;
    transition: width 0.6s;

    &:before {
      content: '';
      width: 0;
      height: 0.1em;
      position: absolute;
      bottom: 0;
      right: 0;
      @apply bg-green-700;
      transition: all 0.3s;
    }
    &:hover {
      &:before {
        width: 100%;
        left: 0;
        @apply bg-green-500;
      }
    }
  }
}
